<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href={{url_for('static', filename='home.css')}}>
	<title>Status</title>
</head>
<body>
	{% if check %}
	<div class="container-fluid bg-dark">

		<div class = "pagename text-center">
    <h1>Set Status</h1>
  </div>
		 <div class = "offset-md-4 col-md-4">
    
    <div class="jumbotron">
	
	
	<form action = "{{ url_for('index') }}" method = "post">
		<div class="form-group">
		<label for="tt">Table Tennis: </label>
		<select class="form-control" name="tt">
  		<option value="Full">Full</option>
  		{% if ttval=="Available"%}
  		<option value="Available" selected="selected">Available</option>
  		{%else%}
  		<option value="Available">Available</option>
  		{%endif%}
		</select>
	</div>
		<div class="form-group">
		<label for="ps4">PS4: </label>
		<select class="form-control" name="ps4">
  		<option value="Full">Full</option>
  		{% if psval=="Available"%}
  		<option value="Available" selected="selected">Available</option>
  		{%else%}
  		<option value="Available">Available</option>
  		{%endif%}
		</select>
	</div>
	<div class="form-group">
		<label for="carrom">Carrom: </label>
		<select class="form-control" name="carrom">
  		<option value="Full">Full</option>
  		{% if carromval=="Available"%}
  		<option value="Available" selected="selected">Available</option>
  		{%else%}
  		<option value="Available">Available</option>
  		{%endif%}
		</select>
	</div>
	<div class="form-group">
		<label for="chess">Chess: </label>
		<select class="form-control" name="chess">
  		<option value="Full">Full</option>
  		{% if chessval=="Available"%}
  		<option value="Available" selected="selected">Available</option>
  		{%else%}
  		<option value="Available">Available</option>
  		{%endif%}
		</select>
	</div>
	<div class="form-group">
		<label for="PC">PC: </label>
		<select class="form-control" name="PC">
  		<option value="Full">Full</option>
  		{% if PCval=="Available"%}
  		<option value="Available" selected="selected">Available</option>
  		{%else%}
  		<option value="Available">Available</option>
  		{%endif%}
		</select>
	</div>
	<div class="form-group">
		<label for="pool">Pool: </label>
		<select class="form-control" name="pool">
  		<option value="Full">Full</option>
  		{% if poolval=="Available"%}
  		<option value="Available" selected="selected">Available</option>
  		{%else%}
  		<option value="Available">Available</option>
  		{%endif%}
		</select>
	</div>
	<center>
		<button type="submit" class="btn btn-primary">Submit</button>
	</center>
	</form>
	{% endif %}
</div>
</div>
</div>

</body>
</html>