<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="https://cdn2.iconfinder.com/data/icons/letters-and-numbers-1/32/lowercase_letter_v_blue-512.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href={{url_for('static', filename='home.css')}}>
	<title>V-Play</title>
</head>
<body>
	<div class="container-fluid">
		<div id="welcome" class="text-center bg-dark">
			<div id ="login">
			{%if isadmin %}
			<button onclick="location.href='{{url_for('admin')}}'" class="btn btn-warning">Update Status</button>
			<button onclick="location.href='{{url_for('logout')}}'" class="btn btn-warning">Sign Out</button>
			{%else%}
			<button onclick="location.href='{{url_for('login')}}'" class="btn btn-warning">Login</button>
			{%endif%}
			</div>
			<div id="stuff">
				<h1>Welcome to V-Play</h1>
				<br>
				<p>V-Play is a portal designed to give you updates regarding the status of the various activities in S block. Using this portal you can check whether the various activities are full or if there are vacancies available.</p>
				<br>
				<button onclick="location.href='{{url_for('status')}}'" class="btn btn-info">Check Status</button>
				{%if isadmin%}
				<button onclick="location.href='{{url_for('new')}}'" class="btn btn-info">New Entry</button>
				{%endif%}
		</div>
	</div>
	</div>
</body>
</html>