<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="https://image.flaticon.com/icons/svg/511/511142.svg">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href={{url_for('static', filename='home.css')}}>
	<title>Login</title>
</head>
<body>
	<div class="container-fluid bg-dark">

		<div class = "pagename text-center">
    <h1>Log in</h1>
  </div>
		 <div class = "offset-md-4 col-md-4">
    
    <div class="jumbotron">
		
	<form action = "{{ url_for('admin') }}" method = "post" >
		<div class = "form-group">
			<center>
		<label for="username">Username:&nbsp&nbsp</label>
		<input name="username" type="text">
	</center>
		</div>
		<center>
	<div class = "form-group">
		<label for="password">Password:&nbsp&nbsp</label>
		<input type="password" name="password">
	</div>
	</center>
	<center>
			<button type="submit" class="btn btn-primary">Submit</button>
	</center>

	</form>
</div>
</div>
</div>
</body>
</html>