<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="https://cdn2.iconfinder.com/data/icons/letters-and-numbers-1/32/lowercase_letter_v_blue-512.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href={{url_for('static', filename='home.css')}}>
	<title>Monitor</title>
</head>
<body>
	<div class="container-fluid bg-dark">
		<div id ="login" class="bg-dark">
			<button onclick="location.href='{{url_for('index')}}'" class="btn btn-warning">Home</button>
			{%if isadmin %}
			<button onclick="location.href='{{url_for('admin')}}'" class="btn btn-warning">Update Status</button>
			<button onclick="location.href='{{url_for('logout')}}'" class="btn btn-warning">Sign Out</button>
			{%endif%}
		</div>
		<div class = "pagename text-center">
    <h1>Choose Criteria</h1>
  </div>
		 <div class = "offset-md-4 col-md-4">
    
    <div class="jumbotron">
		
	<form action = "{{ url_for('check') }}" method = "post" >
		<div class = "form-group">
			<center>
		<label for="date">Date:&nbsp&nbsp</label>
		<select name="date" class="form-control">
			<option value="01">01</option>
			<option value="02">02</option>
			<option value="03">03</option>
			<option value="04">04</option>
			<option value="05">05</option>
			<option value="06">06</option>
			<option value="07">07</option>
			<option value="08">08</option>
			<option value="09">09</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select>
</center>
		</div>
		
	<div class = "form-group">
		<center>
		<label for="month">Month:&nbsp&nbsp</label>
		<select name="month" class="form-control">
			<option value="01">January</option>
			<option value="02">February</option>
			<option value="03">March</option>
			<option value="04">April</option>
			<option value="05">May</option>
			<option value="06">June</option>
			<option value="07">July</option>
			<option value="08">August</option>
			<option value="09">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
	</center>
	</div>
	<div class = "form-group">
		<center>
		<label for="year">Year:&nbsp&nbsp</label>
		<select name="year" class="form-control">
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
			<option value="2022">2022</option>
		</select>
	</center>
	</div>
	<div class = "form-group">
		<center>
		<label for="activity">Activity:&nbsp&nbsp</label>
	<select class="form-control" name="activity">
		<option value="all">All</option>
  		<option value="Table Tennis">Table Tennis</option>
  		<option value="Playstation">Playstation</option>
  		<option value="Carrom">Carrom</option>
  		<option value="Chess">Chess</option>
  		<option value="PC">PC</option>
  		<option value="Pool">Pool</option>
  		
		</select>
	</center>
	</div>
	<center>
			<button type="submit" class="btn btn-primary">Submit</button>
	</center>

	</form>
</div>
</div>
</div>
</body>
</html>